.header {
  max-width: calc(100% - 240px);
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  margin: 28px 0 28px auto;
}

@media screen and (max-width: 320px) {
  .header {
    max-width: calc(100% - 36px);
    margin-bottom: 30px;
  }
}