.header {
  width: 100%;
  min-height: 74px;
  background-color: #F4F4F4;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

@media screen and (max-width: 320px) {
  .header {
    width: 320px;
  }
}