.bike__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: repeat(auto-fit, 1fr);
  gap: 30px;
  margin: 0 120px 60px;
}

@media screen and (max-width: 320px) {
  .bike__cards {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 18px 64px;
  }
}