.bike__card-name {
  padding: 0;
  margin: 0 0 0 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #151515;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .bike__card-name {
    display: none;
  }
}
