.header__burger {
  display: none;
  transition: opacity 0.2s;
}

.header__burger:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 320px) {
  .header__burger {
    display: flex;
    flex-direction: column;
    margin-right: 18px;
    padding: 0;
    background-color: #F4F4F4;
    border: 0;
    color: #151515;
  }
}
