.highway__photo {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}

@media screen and (max-width: 320px) {
  .highway__photo {
    order: -1;
  }
}
