.quote__author-name {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: #151515;
}

@media screen and (max-width: 320px) {
  .quote__author-name {
    font-size: 14px;
    line-height: 1.57;
  }
}
